/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote { margin:0; padding:0; }
fieldset,img { border:0; }
address,caption,cite,code,em,strong, { font-style:normal; font-weight:normal; }
ul { list-style:none; }
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal; }

/* @font-face fonts */
/* all fonts by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'Museo700';
	src: url('resources/museo700-regular-webfont.eot');
	src: local('☺'), url('resources/museo700-regular-webfont.woff') format('woff'), url('resources/museo700-regular-webfont.ttf') format('truetype'), url('resources/museo700-regular-webfont.svg#webfontFUOX9lfo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo500';
	src: url('resources/museo500-regular-webfont.eot');
	src: local('☺'), url('resources/museo500-regular-webfont.woff') format('woff'), url('resources/museo500-regular-webfont.ttf') format('truetype'), url('resources/museo500-regular-webfont.svg#webfontPpLrsT7t') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo300';
	src: url('resources/museo300-regular-webfont.eot');
	src: local('☺'), url('resources/museo300-regular-webfont.woff') format('woff'), url('resources/museo300-regular-webfont.ttf') format('truetype'), url('resources/museo300-regular-webfont.svg#webfontOfTHu6WR') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 { font-family: Museo700, Arial, Helvetica, 'Helvetica Neue', sans-serif; }
.clear { clear: both; }

body {
	background: #ccc;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}
	#header {
		width: 642px;
		margin: 0 auto 6px;
		padding: 20px 0 0;
	}	
		h1 {
			font-size: 30px;
			line-height: 30px;
			float: left;
		}
			h1 a {
				text-shadow: 0 1px 2px #eee;
				color: black;
				text-decoration: none;
			}
				h1 a:hover {
					text-shadow: 0 1px 2px #ecc;
				}
		#header ul {
			float: right;
			margin-top: 4px;
		}
			#header li {
				display: inline;
				float: left;
				margin-left: 5px;
				font-size: 16px;
				line-height: 18px;
			}
				#header li a {
					color: black;
					text-decoration: none;
					display: block;
					background: #ddd;
					padding: 4px 10px;
					margin: -3px 0;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
					#header li a:hover {
						border: 4px solid #888;
						margin: -7px -4px;
					}
					#header li a:active {
						padding: 5px 10px 3px;
					}
	#page {
		width: 900px;
		height: 482px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
		#controls {
			position: absolute;
			left: 0;
			top: 0;
			width: 120px;
		}
			#controls li {
				display: block;
				clear: both;
			}
			#controls a {
				display: block;
				float: right;
				margin-bottom: 6px;
				width: 50px;
				text-align: center;
			}
			#controls .button {
				border-width: 0;
				height: 50px;
			}
			#controls .button#eraser {
				background: url('images/eraser_button.png') no-repeat center center;
			}
				#controls .button#eraser:hover {
					background: url('images/eraser_hover.png') no-repeat center center;
				}
				#controls .button#eraser:active, #controls .button.selected#eraser {
					background: url('images/eraser_active.png') no-repeat center center;
				}
			#controls .button#pen {
				background: url('images/pen_button.png') no-repeat center center;
			}
				#controls .button#pen:hover {
					background: url('images/pen_hover.png') no-repeat center center;
				}
				#controls .button#pen:active, #controls .button.selected#pen {
					background: url('images/pen_active.png') no-repeat center center;
				}
			#controls .control {
				background: transparent;
				color: black;
				margin-bottom: 2px;
			}
				#controls .control:hover {
					text-decoration: none;
				}
		#page canvas {
			width: 640px;
			position: absolute;
			top: 0;
			left: 129px;
			right: 129px;
			display: block;
			background: white;
			cursor: crosshair;
			z-index: 10;
			-webkit-box-shadow: 0 1px 5px #555;
			-moz-box-shadow: 0 1px 5px #555;
			box-shadow: 0 1px 5px #555;
		}
			#page canvas:hover {
				cursor: crosshair;
			}
			#page canvas:active {
				cursor: crosshair;
			}
		#shadow {
			display: none;
			position: fixed;
			width: 9999px;
			height: 9999px;
			margin: -500px 0 0 -4500px;
			z-index: 5;
			background: rgba(204,204,204,0.6);
		}
		#people {
			position: absolute;
			right: -40px;
			top: 0;
			width: 160px;
		}
			#people h2 {
				font-size: 16px;
				margin-bottom: 10px;
			}
			#people ul {
				max-height: 450px;
				overflow: auto;
			}
			#people #invite {
				color: black;
				text-decoration: none;
				display: inline-block;
				margin: 10px 0;
				padding: 4px 10px;
				background: #ddd;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
				#people #invite:hover {
					border: 3px solid #888;
					margin: 7px -3px;
				}
				#people #invite:active {
					padding: 6px 10px 4px;
				}
	#variations {
		padding: 20px 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 500px;
	}
		#variations-handle {
			position: absolute;
			cursor: pointer;
		}
			#variations ul {
				padding: 10px 0;
				width: 1550px;
			}
				#variations li {
					float: left;
					width: 200px;
					padding-left: 50px;
				}
					#variations canvas {
						background: white;
						-webkit-box-shadow: 0 0 3px #555;
						-moz-box-shadow: 0 0 3px #555;
						box-shadow: 0 0 3px #555;
					}
	#footer {
		padding: 30px 0 90px;
		background: #444;
		color: white;
		border-top: 1px solid black;
	}
		#footer p {
			width: 640px;
			margin: 0 auto;
			text-align: center;
		}
			#footer a {
				color: white;
			}

