/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote { margin:0; padding:0; }
fieldset,img { border:0; }
address,caption,cite,code,em,strong, { font-style:normal; font-weight:normal; }
ul { list-style:none; }
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal; }

body {
	background: #ddd;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}
	#header {
		width: 642px;
		margin: 0 auto;
		padding: 20px 0 15px;
		overflow: auto;
	}	
		h1 {
			font-weight: bold;
			font-size: 21px;
			letter-spacing: -1px;
			float: left;
		}
		#header ul {
			float: right;
		}
			#header li {
				display: inline;
				float: left;
				margin-left: 30px;
				font-size: 21px;
			}
				#header li a {
					color: black;

				}
	#page {
		width: 900px;
		height: 482px;
		margin: 0 auto;
		position: relative;
	}
		#controls {
			position: absolute;
			left: 0;
			top: 0;
			width: 120px;
		}
			#controls a {
				display: block;
				background: #ccc;
				float: right;
				margin-bottom: 10px;
				width: 80px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				border: 1px solid #aaa;
				text-align: center;
			}
				#controls a:hover {
					background: #bbb;
				}
				#controls a:active {
					background: #666;
					color: white;
				}
			#controls .button {
				height: 80px;
			}
			#controls .control {
				padding: 5px 0;
			}
		#page canvas {
			width: 640px;
			float: left;
			margin: 0 129px;
			display: block;
			background: white;
			border: 1px solid #aaa;
		}
		#people {
			position: absolute;
			right: -40px;
			top: 0;
			width: 160px;
		}
			#people h2 {
				font-size: 16px;
				letter-spacing: -1px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			#people ul {
				height: 450px;
				overflow: auto;
			}
	#footer {
		margin: 20px 0 0;
		padding: 30px 0 90px;
		background: #444;
		color: white;
		border-top: 1px solid black;
	}
		#footer p {
			width: 640px;
			margin: 0 auto;
			text-align: center;
		}
			#footer a {
				color: white;
			}

