html,body {height: 100%;}
body {
}
#container {
	min-height: 100%;
	position: relative;
}
	#page {
		padding-bottom: 200px;
		width: 720px;
		margin: 0 auto;
	}	
		h1 {
			font-size: 60px;
			margin: 0 0 10px;
			padding-top: 80px;
			text-shadow: 0 1px 3px #eee;
			text-align: center;
		}
		#tagline {
		
		}
		#features {
			margin-left: -12px;
			margin-right: -3px;
			height: 140px;
		}
			.block {
				width: 190px;
				height: 75px;
				padding: 20px;
				margin-left: 15px;
				background: white;
				-webkit-box-shadow: 0 1px 5px #555;
				-moz-box-shadow: 0 1px 5px #555;
				box-shadow: 0 1px 5px #555;
				float: left;
			}
				.block img {
					border: 1px solid #aaa;
					margin-left: -1px;
				}
				.block h2 {
					text-align: center;
					font-family: Museo300, Arial, Helvetica, 'Helvetica Neue', sans-serif;
					font-size: 18px;
				}
					.block strong {
						font-family: Museo700, Arial, Helvetica, 'Helvetica Neue', sans-serif;
						font-weight: normal;
					}
		#call {
			clear: both;
			width: 580px;
			margin: 0 auto 30px;
			font-family: Museo300, Arial, Helvetica, 'Helvetica Neue', sans-serif;
		}
			#call div {
				text-align: center;
			}
				#call a {
					display: inline-block;
					background: #e65239;
					width: 240px;
					font-size: 24px;
					padding: 10px 0;
					text-decoration: none;
					color: black;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					border: 2px solid white;
					margin: -2px;
				}
				#call a#room-sketch {
					background: #6a98ec;
				}
					#call a:hover {
						border: 5px solid #555;
						margin: -5px;
					}
				#call div span {
					display: inline-block;
					width: 50px;
					font-size: 30px;
					color: #656565;
				}
	#footer {
		clear: both;
		margin-top: -200px;
		height: 110px;
		padding: 60px 0 30px;
		position: relative;
		z-index: 2;
		width: 100%;
	}
		#footer-container {
			text-align: center;
			width: 675px;
			margin: 0 auto;
		}
			#footer h3 {
				font-size: 75px;
				font-weight: normal;
				font-family: Museo700, Arial, Helvetica, 'Helvetica Neue', sans-serif;
				float: left;
				margin-right: 10px;
				text-shadow: 0 -1px 1px #8c8c8c;
				line-height: 75px;
				width: 510px;
			}
				#footer h3 a {
					color: #b3b3b3;
					text-decoration: none;
				}
					#footer h3 a:hover {
						color: #999;
						text-shadow: 0 -1px 1px #666;
					}
			#footer ul {
				height: 75px;
				width: 150px;
				margin: -1px auto 0;
				float: left;
				border: 1px solid #aaa;
			}
				#footer li {
					width: 50px;
					float: left;
					height: 75px;
				}
					#eli {
						background: url('/images/people/eli_sm.jpg') no-repeat center center;
					}
					#pras {
						background: url('/images/people/prasanna_sm.jpg') no-repeat center center;
					}
					#sam {
						background: url('/images/people/sam_sm.jpg') no-repeat center center;
					}
				#footer p {
					clear: both;
					padding-top: 10px;
					font-size: 14px;
				}
					#footer p a {
						color: #555;
						text-decoration: none;
						font-weight: bold;
					}
						#footer p a:hover {
							color: black;
						}
